.media-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}
.media-buttons button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.media-buttons button:hover {
    background-color: #f0f0f0;
}

.media-buttons button.active {
    background-color: #007bff;
    color: white;
}

/* https://www.w3schools.com/css/css_image_transparency.asp */
.weather-btn {
    opacity: 0.5;
}

.weather-btn.active {
    opacity: 1;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
